doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          a.navheader(href='/') Tehtävälista
          ul
            li
                a(href='/register') Rekisteröidy
            li                
                a(href='/login') Kirjaudu
      block content