extends default
block content
        h2="Rekisteröidy"

        form(action='/login', method='post')
            .container
                label(for='uname')
                b Käyttäjätunnus
                input(type='text', placeholder='Anna käyttäjätunnus', name='uname', required='')
            .container    
                label(for='psw')
                b Salasana
                input(type='password', placeholder='Anna salasana', name='psw', required='')
            .container
                button(type='submit') Rekisteröidy
                label
            .container(style='background-color:#f1f1f1')
                button.cancelbtn(type='button') Peruuta
            //- span.psw
            
        a(href='#') Unohdin salasanan